.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 150px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    margin: 10px;
    text-align: center;
    line-height: 150px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}