.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body {
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.904);
    padding: 20px;
}

.inputdisabled {
    color: #ffffff;
    background-color: #f0f0f02c;
    padding: 5px;
    width: 200px;
}

input[type="number"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {

    background-color: #f47a42;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}