.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%; padding: .5em 1em; 
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: #ffffff;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.904);
    padding: 20px;
  }
  
  #glossary {
    margin-top: 20px;
    height: 800px; /* Adjust height as needed */
    overflow-y: scroll;
    /* Add scrollbar styling if desired */
  }
  
  .term {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .term h3 {
    margin: 0;
  }

  .fixed-div {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Adjust background color and other styles as needed */

  }
  
 